<div class="answer-form">
    <p>{{input type="text" placeholder="Enter your name" value=name class="name-input" size="30"}}</p>
    <p>{{textarea type="text" placeholder="Whats Your answer?" id="body" value=body class="body-input" cols="40" rows="4"}}</p>

    <button {{action 'addAnswer'}} class="btn btn-success" data-dismiss="modal">Add answer</button>
</div>
